body{
    background-color: seashell;
  }
  h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  }
  nav{
    height: 80px;
  }
  #slides_inicio{
    height: 1700px;
    width: 1200px;
    margin: auto;
  }
  #slides_inicio{
    padding: 1%;

  }
  .slides{
    background-color: #fff;
  }