* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Barra de navegação */
#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23232e;
    height: 64px;
}

/* Fim */

/* tag main */
main {
    background-image: url(Images/Background\ Rap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

/* Fim */

/* div principal */
.container {
    position: fixed;
    top: 100px;
    left: 20px;
    display: flex;
    background-color: rgba(107, 95, 93, 0.3);
    width: 50%;
    padding: 30px;
    height: 180px;
    width: 515px;
}

/* Fim */

.capa {

    right: 40px;
    height: 20vh;
    width: 99.66px;
    display: flex;

}

.musica {

    color: beige;
    margin-left: 27px;
    flex: 1;
    height: 149px;

}

.musica h2 {
    font-size: 30px;
    font-weight: 400;
    top: 20px;
    margin-top: auto;


}

.music p {
    font-size: 20px;
    margin: 5px 0 20px 0;
}

#audio {

    width: 350px;
    height: 40px;
    left: 14px;
}