body {
    background-image: url(Images/rock_wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center; */
}

audio {
    display: none;
}

.container-card {
    background-color:rgba(107, 95, 93, 0.3);
    border-radius: 5px;
}
.playerOfMusic {
    
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 20%;
    align-items: center;
    margin-bottom: 0.2%;
    margin-left: 0.2%;
    margin-right: 0.2%;
    border-radius: 5px;
    background-color: rgba(38, 166, 153, 0.7) ;
}

.duracao {
    width: 300px;
    margin-top: 25px;
}
.barra-progresso {
    width: 300px;
    height: 6px;
    border: 1px solid rgb(201, 181, 181);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(50vw - 150px);

}

progress{
    height: 6px;
    width: 0%;

}

.ponto {
    width: 20px;
    height: 20px;
    background-color: rgb(201, 181, 181);
    border-radius: 50%;
    margin-left: -10px;
}

.tempo {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-left: calc(50vw - 150px);

}

.player {
    margin-left: calc(50vw - 150px);
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-play, .btn-pause {
    font-size: 50px;
    cursor: pointer;
}

.btn-pause {
    display: none;
}

.btn-change {
    font-size: 40px;
    cursor: pointer;
}
